/*.standing > *:first-child {
	margin-bottom: var(--sm);
}*/

.standing table {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: var(--sm);
	margin-bottom: var(--xxl);
}

.standing table,
.standing thead,
.standing tr {
	width: 100%;
}

.matchcard-header,
.matchcard-body {
	padding: var(--lg) 0;
}

.standing thead {
	height: var(--v);
}

.standing thead,
.standing th {
	text-align: left;
	vertical-align: middle;
}

.standing td {
	padding: var(--lg) 0;
}

.standing td.with-child {
	position: relative;
}

.standing td.with-child > *:nth-child(1) {
	height: 100%;
	position: absolute;
}

.standing thead {
	padding-left: var(--xs);
	padding-right: var(--xs);
}

.standing thead tr > *:first-child,
.standing tbody tr > *:first-child {
	padding: 0 var(--xs);
	padding-right: 0;
}
.standing thead tr > *:nth-child(2),
.standing tbody tr > *:nth-child(2) {
	padding: 0 var(--xs);
	padding-right: 0;
}

tr.shade {
	background: var(--blue-500);
}

.img-box {
	position: relative;
	height: 1.5rem;
	width: 1.5rem;
}

.img-box ~ :nth-child(3) {
	display: none;
}

.standing tbody > *:not(:last-child) {
	border-bottom: 1px solid var(--t-border);
}

.standing th,
.standing td {
	font-size: var(--base);
	font-weight: 300;
	font-family: var(--font);
	line-height: 1;
	letter-spacing: 1px;
}

.standing th {
	font-weight: 700;
}

.standing th {
	text-transform: uppercase;
}

.standing thead > * :nth-child(7),
.standing thead > * :nth-child(8),
.standing thead > * :nth-child(9),
.standing tbody > * :nth-child(7),
.standing tbody > * :nth-child(8),
.standing tbody > * :nth-child(9) {
	display: none;
}

@media only screen and (min-width: 36rem) {
	.img-box ~ :nth-child(3) {
		display: block;
	}

	.img-box ~ :nth-child(2) {
		display: none;
	}
}

@media only screen and (min-width: 48rem) {
	.standing thead > * :nth-child(7),
	.standing thead > * :nth-child(8),
	.standing thead > * :nth-child(9),
	.standing tbody > * :nth-child(7),
	.standing tbody > * :nth-child(8),
	.standing tbody > * :nth-child(9) {
		display: table-cell;
	}
}

@media only screen and (min-width: 75rem) {
	.standing thead > * :last-child,
	.standing tbody > * :last-child {
		text-align: center;
	}
}
